.place {
	border: 1px solid red;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	justify-items: start;
	align-items: start;
}

.place__title {
	border: 1px solid green;
	margin: 0;
	grid-column: 1;
	grid-row: 1/2;
	font-size: 72px;
	font-weight: 900;
	line-height: 1.06;
}

.place__website {
	border: 1px solid green;
	grid-column: 2;
	grid-row: 1/2;
}

.place__image {
	border: 1px solid green;
	grid-column: 1;
	grid-row: 2/4;
}

.place__paragraph {
	border: 1px solid green;
	align-self: start;
}