.place {
	width: 100%;
	padding-bottom: 80px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	justify-items: start;
	column-gap: 40px;
	border: 1px solid red;
}

.place:last-of-type {
	padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
	.place {
		column-gap: 32px;
	}
	.place:last-of-type {
		padding-bottom: 90px;
	}
}

@media screen and (max-width: 768px) {
	.place {
		column-gap: 28px;
	}
}

@media screen and (max-width: 320px) {
	.place {


	}
	.place:last-of-type {
		padding-bottom: 66px;
	}
}







